@page "{action?}"
@model WebGalgje.Pages.SpelerModel

@Model.Status
<div class="text-danger">@Html.ValidationSummary(false)</div>

@if(User.Identity != null && User.Identity.IsAuthenticated )
{
    <div class="Welkom"> Hallo, @User.Identity.Name</div>
    <a href='/Speler/Signout'>Logout</a><br/>
    <a href='/Speler/Playerinfo'>Krijg informatie</a><br/>
}
else
{
    <div class="Welkom"> Hallo, niet ingelogde gebruiker</div>

    <h1>Registreren!</h1>
    <form method="post" autocomplete="off" id="mijn-form">
        <input id="action" name="UserInput.Action" type="hidden" value="Registreer" />
        <ul>
            <li>
                <label class="input-field-label" for="username-input">Kies een Username</label>
                <input class="input-field" id="username-input" type="text" data-val="true" name="UserInput.UserName" value=""> 
                <span class="field-validation-valid" data-valmsg-for="UserInput.UserName" data-valmsg-replace="true"></span>
            </li> 

            <li>
                <label class="input-field-label" for="password-input">Kies een wachtwoord:</label>
                <input class="input-field" id="password-input" type="password" data-val="true" name="UserInput.Password" value=""> 
                <span class="field-validation-valid" data-valmsg-for="UserInput.Password" data-valmsg-replace="true"></span>
            </li> 

            <li>
                <label class="input-field-label" for="email-input">Email:</label>
                <input class="input-field" id="email-input" type="text" name="UserInput.Email" value=""> 
            </li> 

        <li class="speciaal">
            <input type="submit" value="Submit"/>
        </li>
    </ul>
      @Html.AntiForgeryToken()
</form>

<h1> OF Login</h1>
<form method="post" autocomplete="off" id="mijn-form">
    <input id="action" name="UserInput.Action" type="hidden" value="Login" />
    <ul>
            <li>
                <label class="input-field-label" for="username-input">Kies een Username</label>
                <input class="input-field" id="username-input" type="text" data-val="true" name="UserInput.UserName" value=""> 

            </li> 

            <li>
                <label class="input-field-label" for="password-input">Kies een wachtwoord:</label>
                <input class="input-field" id="password-input" type="password" data-val="true" name="UserInput.Password" value=""> 

            </li> 

        <li class="speciaal">
            <input type="submit" value="Submit"/>
        </li>
    </ul>
      @Html.AntiForgeryToken()
</form>
    
 }





